<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="WalletEntities" connectionString="metadata=res://*/ModelWallet01.csdl|res://*/ModelWallet01.ssdl|res://*/ModelWallet01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIGUEL-PC-HP;initial catalog=Wallet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WalletEntitiesDB" connectionString="metadata=res://*/ModelWalletDB.csdl|res://*/ModelWalletDB.ssdl|res://*/ModelWalletDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIGUEL-PC-HP;initial catalog=Wallet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wallet2Entities" connectionString="metadata=res://*/ModelWallet2.csdl|res://*/ModelWallet2.ssdl|res://*/ModelWallet2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIGUEL-PC-HP;initial catalog=Wallet2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wallet3Entities" connectionString="metadata=res://*/ModelWallet3.csdl|res://*/ModelWallet3.ssdl|res://*/ModelWallet3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIGUEL-PC-HP;initial catalog=Wallet3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wallet3Entities1" connectionString="metadata=res://*/ModelWallet3.csdl|res://*/ModelWallet3.ssdl|res://*/ModelWallet3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIGUEL-PC-HP;initial catalog=Wallet3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wallet3Entities2" connectionString="metadata=res://*/ModelWallet3.csdl|res://*/ModelWallet3.ssdl|res://*/ModelWallet3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIGUEL-PC-HP;initial catalog=Wallet3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wallet3Entities3" connectionString="metadata=res://*/ModelWalletV2.csdl|res://*/ModelWalletV2.ssdl|res://*/ModelWalletV2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MIGUEL-PC-HP;initial catalog=Wallet3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wallet4Entities" connectionString="metadata=res://*/ModelWalletV4.csdl|res://*/ModelWalletV4.ssdl|res://*/ModelWalletV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Wallet4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>